{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
        {% for stage in stages %}
            <p>
                <a href="{% url 'view-poll' stage.short_name %}">{{ stage.name }}</a>&nbsp;<span class="date">|&nbsp;{{ stage.date|date:"F j" }}</span>
            </p>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
