{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col third center">
    <h2>Заявки на этот этап больше не принимаются</h2>
    <p>Мы перестаём принимать голоса за час до начала этапа. Ну вот так захотелось.</p>

    {% if user.is_authenticated %}<p>Свои голоса можно посмотреть в своём
    <a href="{% url 'profile' user.id %}">профиле</a>.</p>{% endif %}
  </div>
</div>
{% endblock content %}
