{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}alertify.css">

  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}alertify.min.js"></script>
  <script>GP_START_DATE = new Date("{{ current_stage.date }} {{ current_stage.time|date:"G:i" }}")</script>
  <script src="{{ STATIC_URL }}app.js"></script>
{% endblock head %}

{% block content %}
  <div class="row">
    <div class="col">
      <ul class='nav horizontal'>
        {% for stage in stages %}
          <li class="{% if current_stage == stage %}active{% endif %}">
            <a href="{% url 'view-poll' stage.short_name %}">{{ stage.short_name }}</a>
          </li>
        {% endfor %}
      </ul>
      <h2 class="left">{{ current_stage.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col quarter">
      <h3>Позиции
        {% if user.is_authenticated %}{% csrf_token %}{% endif %}
      </h3>
      <table id="vote">
        <thead>
          <tr><th width="30px">#</th><th>Имя</th></tr>
        </thead>
        <tbody>
        {% for rider in table %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% if rider %}
              <td class="rider" data-id="{{ rider.id }}">{{ rider.name }}<a class="close">×</a></td>
            {% else %}
              <td class="rider"></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col half">
      <h3>Пилоты</h3>
      <ul class="unstyled" id="riders">
      {% for rider in riders %}
        <li class="rider" data-id="{{ rider.id }}">
          <span class="badge">{{ rider.number }}</span>
          <span class="name">{{ rider.name }}</span>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="col quarter">
      <p>Перетащите имя гонщика на позицю в таблице, которую он, по вашему мнению, займёт в этой гонке. Если Drag & Drop у вас не работает, попробуйте более новый браузер.</p>
    </div>
  </div>
{% endblock content %}
