html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font: 14px normal "Helvetica Neue", Helvetica, serif; color: #666666; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; padding-bottom: 0.5em; }

h1 { font-size: 2.2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.5em; }

h4, h5, h6 { font-size: 1.2em; }

p, li { line-height: 1.4em; }

p, ul, ol { padding-bottom: 0.5em; }

ul { list-style: disc inside; }
ul ol, ul ul { padding-bottom: 0; padding-left: 1em; }

ol { list-style: decimal inside; }
ol ol, ol ul { padding-bottom: 0; padding-left: 1em; }

.unstyled { list-style: none; }

a { color: #3d80c4; }
a:hover { color: #1860a6; text-decoration: none; }

i, em { font-style: italic; }

b, strong { font-weight: bold; }

.centered { text-align: center; }

.left { float: left; }

.right { float: right; }

/* Dead Simple Grid (c) 2012 Vladimir Agafonkin */
.col { padding: 10px 1.5em; }

.row .row { margin: 0 -1.5em; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

@media only screen { .col { float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } }
/* Scaffolding */
.half { width: 50%; }

.third { width: 33.3333%; }

.twothirds { width: 66.6666%; }

.quarter { width: 25%; }

.threequarters { width: 75%; }

.col .centered { margin: 0 auto; float: none; }
.col .right { float: right; }

@media screen and (max-width: 720px) { .half, .third, .twothirds, .threequarters { width: 100%; }
  .quarter { width: 50%; } }
/* Layout */
html, body { height: 100%; }

#wrapper { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -2.5em; }
#wrapper #footer-push { height: 2.5em; }

#footer { clear: both; position: relative; height: 2.5em; }

#footer { line-height: 2.5em; padding: 0 1em; color: #666666; }

.sidebar { width: 25%; }

.content { width: 75%; }

@media screen and (max-width: 720px) { .content, .sidebar { width: 100%; }
  .sidebar .nav li { float: left; } }
.button { border: 1px solid #aeaeae; border-radius: 3px; text-align: center; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7c7c7), color-stop(100%, #aeaeae)); background: -webkit-linear-gradient(#c7c7c7, #aeaeae); background: -moz-linear-gradient(#c7c7c7, #aeaeae); background: -o-linear-gradient(#c7c7c7, #aeaeae); background: linear-gradient(#c7c7c7, #aeaeae); padding: 0.5em 1em; color: white; font-size: 1em; }
.button:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(100%, #949494)); background: -webkit-linear-gradient(#aeaeae, #949494); background: -moz-linear-gradient(#aeaeae, #949494); background: -o-linear-gradient(#aeaeae, #949494); background: linear-gradient(#aeaeae, #949494); }
.button:active { background: #aeaeae; }
.button:focus { outline: none; }
.button.blue { border: 1px solid #1860a6; border-radius: 3px; text-align: center; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d80c4), color-stop(100%, #30679e)); background: -webkit-linear-gradient(#3d80c4, #30679e); background: -moz-linear-gradient(#3d80c4, #30679e); background: -o-linear-gradient(#3d80c4, #30679e); background: linear-gradient(#3d80c4, #30679e); }
.button.blue:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1860a6), color-stop(100%, #124679)); background: -webkit-linear-gradient(#1860a6, #124679); background: -moz-linear-gradient(#1860a6, #124679); background: -o-linear-gradient(#1860a6, #124679); background: linear-gradient(#1860a6, #124679); }
.button.blue:active { background: #1860a6; }
.button.blue:focus { outline: none; }
.button.green { border: 1px solid #00894d; border-radius: 3px; text-align: center; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3ec978), color-stop(100%, #2ea660)); background: -webkit-linear-gradient(#3ec978, #2ea660); background: -moz-linear-gradient(#3ec978, #2ea660); background: -o-linear-gradient(#3ec978, #2ea660); background: linear-gradient(#3ec978, #2ea660); }
.button.green:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00894d), color-stop(100%, #005630)); background: -webkit-linear-gradient(#00894d, #005630); background: -moz-linear-gradient(#00894d, #005630); background: -o-linear-gradient(#00894d, #005630); background: linear-gradient(#00894d, #005630); }
.button.green:active { background: #00894d; }
.button.green:focus { outline: none; }
.button.yellow { border: 1px solid #f1a02d; border-radius: 3px; text-align: center; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fac23d), color-stop(100%, #f9b20b)); background: -webkit-linear-gradient(#fac23d, #f9b20b); background: -moz-linear-gradient(#fac23d, #f9b20b); background: -o-linear-gradient(#fac23d, #f9b20b); background: linear-gradient(#fac23d, #f9b20b); }
.button.yellow:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1a02d), color-stop(100%, #dc870f)); background: -webkit-linear-gradient(#f1a02d, #dc870f); background: -moz-linear-gradient(#f1a02d, #dc870f); background: -o-linear-gradient(#f1a02d, #dc870f); background: linear-gradient(#f1a02d, #dc870f); }
.button.yellow:active { background: #f1a02d; }
.button.yellow:focus { outline: none; }
.button.red { border: 1px solid #d24306; border-radius: 3px; text-align: center; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5840), color-stop(100%, #ff2b0d)); background: -webkit-linear-gradient(#ff5840, #ff2b0d); background: -moz-linear-gradient(#ff5840, #ff2b0d); background: -o-linear-gradient(#ff5840, #ff2b0d); background: linear-gradient(#ff5840, #ff2b0d); }
.button.red:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d24306), color-stop(100%, #a03305)); background: -webkit-linear-gradient(#d24306, #a03305); background: -moz-linear-gradient(#d24306, #a03305); background: -o-linear-gradient(#d24306, #a03305); background: linear-gradient(#d24306, #a03305); }
.button.red:active { background: #d24306; }
.button.red:focus { outline: none; }
.button.block { display: block; }

a.button { display: inline-block; text-decoration: none; }
a.button:hover { color: white; }

label { display: inline-block; color: #666666; }

input[type=text], input[type=password], .checkbox, .radio { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin-bottom: 0.5em; font-size: 1em; }

input[type=text], input[type=password] { padding: 0.4em 0.5em; border: 1px solid #c7c7c7; }
input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus { border-color: #658dcb; }
input[type=text]:focus, input[type=password]:focus { outline: none; box-shadow: 0 0 3px #1860a6; }

.checkbox, .radio { cursor: pointer; }

.alert { border: 1px solid #c7c7c7; background: #eeeeee; position: relative; border-radius: 3px; padding: 0.5em; margin-bottom: 0.5em; }
.alert.blue { border: 1px solid #3d80c4; background: #b1c5e5; }
.alert.green { border: 1px solid #3ec978; background: #9bd5b3; }
.alert.yellow { border: 1px solid #fac23d; background: #ffe5c4; }
.alert.red { border: 1px solid #ff5840; background: #f2c1b9; }
.alert .dismiss { float: right; text-decoration: none; color: inherit; opacity: 0.7; }
.alert .dismiss.hover { opacity: 1; }

table { width: 100%; }

tr:nth-child(even) { background-color: #e6e6e6; }

td { padding: 2px; }
td:first-child { text-align: center; }
td:last-child { text-align: right; }

.nav { list-style: none; }
.nav li { padding-bottom: 1px; }
.nav a { display: block; padding: 4px 10px 0; text-decoration: none; color: #3d80c4; border-left: 3px solid transparent; }
.nav a:hover, .nav .active a { color: #1860a6; background-color: #eeeeee; border-left-color: #1860a6; }

.nav.horizontal li { display: inline-block; padding-bottom: 0; }
.nav.horizontal a { border-left: none; border-bottom: 3px solid transparent; }
.nav.horizontal a:hover, .nav.horizontal .active a { border-bottom-color: #1860a6; }

.topbar { border-bottom: 1px solid #c7c7c7; margin-bottom: 0.5em; }
.topbar .nav { padding-bottom: 0; float: left; }
.topbar .nav.right { float: right; }
.topbar .nav li { display: inline-block; padding-bottom: 0; background-color: transparent; }
.topbar .nav li a { padding: 8px 10px; border-left: none !important; border-top: 3px solid transparent; }
.topbar .nav li a:hover, .topbar .nav li.active a { border-top-color: #1860a6; }

[class^="flag-"] { background: url("../images/flags-sprite.png") no-repeat; display: inline-block; height: 11px; width: 16px; }

.flag-ad { background-position: 0 -198px; }

.flag-ae { background-position: 0 -2641px; }

.flag-af { background-position: 0 -550px; }

.flag-ag { background-position: 0 -726px; }

.flag-ai { background-position: 0 -209px; }

.flag-al { background-position: 0 -594px; }

.flag-am { background-position: 0 -1771px; }

.flag-an { background-position: 0 -1947px; }

.flag-ao { background-position: 0 -2520px; }

.flag-ar { background-position: 0 -1672px; }

.flag-as { background-position: 0 -154px; }

.flag-at { background-position: 0 -2652px; }

.flag-au { background-position: 0 -22px; }

.flag-aw { background-position: 0 -1419px; }

.flag-ax { background-position: 0 -55px; }

.flag-az { background-position: 0 -748px; }

.flag-ba { background-position: 0 -649px; }

.flag-bb { background-position: 0 -781px; }

.flag-bd { background-position: 0 -1683px; }

.flag-be { background-position: 0 -2387px; }

.flag-bf { background-position: 0 -1782px; }

.flag-bg { background-position: 0 -2299px; }

.flag-bh { background-position: 0 -2310px; }

.flag-bi { background-position: 0 -11px; }

.flag-bj { background-position: 0 -1991px; }

.flag-bm { background-position: 0 -495px; }

.flag-bn { background-position: 0 -264px; }

.flag-bo { background-position: 0 -1727px; }

.flag-br { background-position: 0 -660px; }

.flag-bs { background-position: 0 -1397px; }

.flag-bt { background-position: 0 -319px; }

.flag-bv { background-position: 0 -1551px; }

.flag-bw { background-position: 0 -2421px; }

.flag-by { background-position: 0 -1518px; }

.flag-bz { background-position: 0 -605px; }

.flag-ca { background-position: 0 -352px; }

.flag-catalonia { background-position: 0 -2663px; }

.flag-cc { background-position: 0 -396px; }

.flag-cd { background-position: 0 -1331px; }

.flag-cf { background-position: 0 -473px; }

.flag-cg { background-position: 0 -1441px; }

.flag-ch { background-position: 0 -2707px; }

.flag-ci { background-position: 0 -2321px; }

.flag-ck { background-position: 0 -770px; }

.flag-cl { background-position: 0 -2365px; }

.flag-cm { background-position: 0 -1408px; }

.flag-cn { background-position: 0 -2189px; }

.flag-co { background-position: 0 -2013px; }

.flag-cr { background-position: 0 -2101px; }

.flag-cs { background-position: 0 -2443px; }

.flag-cu { background-position: 0 -968px; }

.flag-cv { background-position: 0 -1309px; }

.flag-cx { background-position: 0 -528px; }

.flag-cy { background-position: 0 -2531px; }

.flag-cz { background-position: 0 -2112px; }

.flag-de { background-position: 0 -1111px; }

.flag-dj { background-position: 0 -869px; }

.flag-dk { background-position: 0 -1826px; }

.flag-dm { background-position: 0 -429px; }

.flag-do { background-position: 0 -1628px; }

.flag-dz { background-position: 0 -814px; }

.flag-ec { background-position: 0 -1738px; }

.flag-ee { background-position: 0 -2509px; }

.flag-eg { background-position: 0 -2255px; }

.flag-eh { background-position: 0 -1639px; }

.flag-england { background-position: 0 -1793px; }

.flag-er { background-position: 0 -110px; }

.flag-es { background-position: 0 -2222px; }

.flag-et { background-position: 0 -704px; }

.flag-europeanunion { background-position: 0 -2079px; }

.flag-fam { background-position: 0 -1254px; }

.flag-fi { background-position: 0 -1925px; }

.flag-fj { background-position: 0 -506px; }

.flag-fk { background-position: 0 -143px; }

.flag-fm { background-position: 0 -1067px; }

.flag-fo { background-position: 0 -2134px; }

.flag-fr { background-position: 0 -1122px; }

.flag-ga { background-position: 0 -1936px; }

.flag-gb { background-position: 0 -616px; }

.flag-gd { background-position: 0 -297px; }

.flag-ge { background-position: 0 -638px; }

.flag-gf { background-position: 0 -1133px; }

.flag-gh { background-position: 0 -1914px; }

.flag-gi { background-position: 0 -2288px; }

.flag-gl { background-position: 0 -2211px; }

.flag-gm { background-position: 0 -1859px; }

.flag-gn { background-position: 0 -2068px; }

.flag-gp { background-position: 0 -1958px; }

.flag-gq { background-position: 0 -1188px; }

.flag-gr { background-position: 0 -1969px; }

.flag-gs { background-position: 0 -330px; }

.flag-gt { background-position: 0 -1870px; }

.flag-gu { background-position: 0 -1617px; }

.flag-gw { background-position: 0 -1485px; }

.flag-gy { background-position: 0 -176px; }

.flag-hk { background-position: 0 -1353px; }

.flag-hm { background-position: 0 -33px; }

.flag-hn { background-position: 0 -1199px; }

.flag-hr { background-position: 0 -1430px; }

.flag-ht { background-position: 0 -1980px; }

.flag-hu { background-position: 0 -2465px; }

.flag-id { background-position: 0 -2498px; }

.flag-ie { background-position: 0 -2046px; }

.flag-il { background-position: 0 -2487px; }

.flag-in { background-position: 0 -1694px; }

.flag-io { background-position: 0 -66px; }

.flag-iq { background-position: 0 -1496px; }

.flag-ir { background-position: 0 -1562px; }

.flag-is { background-position: 0 -1265px; }

.flag-it { background-position: 0 -2575px; }

.flag-jm { background-position: 0 -308px; }

.flag-jo { background-position: 0 -2167px; }

.flag-jp { background-position: 0 -2586px; }

.flag-ke { background-position: 0 -924px; }

.flag-kg { background-position: 0 -1595px; }

.flag-kh { background-position: 0 -1100px; }

.flag-ki { background-position: 0 -88px; }

.flag-km { background-position: 0 -825px; }

.flag-kn { background-position: 0 -561px; }

.flag-kp { background-position: 0 -1012px; }

.flag-kr { background-position: 0 -715px; }

.flag-kw { background-position: 0 -2002px; }

.flag-ky { background-position: 0 -220px; }

.flag-kz { background-position: 0 -451px; }

.flag-la { background-position: 0 -979px; }

.flag-lb { background-position: 0 -1474px; }

.flag-lc { background-position: 0 -1452px; }

.flag-li { background-position: 0 -1210px; }

.flag-lk { background-position: 0 -385px; }

.flag-lr { background-position: 0 -2244px; }

.flag-ls { background-position: 0 -363px; }

.flag-lt { background-position: 0 -1650px; }

.flag-lu { background-position: 0 -2057px; }

.flag-lv { background-position: 0 -2266px; }

.flag-ly { background-position: 0 -2619px; }

.flag-ma { background-position: 0 -2476px; }

.flag-mc { background-position: 0 -2685px; }

.flag-md { background-position: 0 -957px; }

.flag-me { background-position: 0 -2398px; }

.flag-mg { background-position: 0 -2332px; }

.flag-mh { background-position: 0 -374px; }

.flag-mk { background-position: 0 -44px; }

.flag-ml { background-position: 0 -2145px; }

.flag-mm { background-position: 0 -2024px; }

.flag-mn { background-position: 0 -1881px; }

.flag-mo { background-position: 0 -759px; }

.flag-mp { background-position: 0 -627px; }

.flag-mq { background-position: 0 -99px; }

.flag-mr { background-position: 0 -935px; }

.flag-ms { background-position: 0 -484px; }

.flag-mt { background-position: 0 -2597px; }

.flag-mu { background-position: 0 -1804px; }

.flag-mv { background-position: 0 -1155px; }

.flag-mw { background-position: 0 -1320px; }

.flag-mx { background-position: 0 -847px; }

.flag-my { background-position: 0 -891px; }

.flag-mz { background-position: 0 -792px; }

.flag-na { background-position: 0 -165px; }

.flag-nc { background-position: 0 -737px; }

.flag-ne { background-position: 0 -1221px; }

.flag-nf { background-position: 0 -583px; }

.flag-ng { background-position: 0 -2035px; }

.flag-ni { background-position: 0 -1661px; }

.flag-nl { background-position: 0 -2343px; }

.flag-no { background-position: 0 -1573px; }

.flag-np { background-position: 0 -2432px; }

.flag-nr { background-position: 0 -1364px; }

.flag-nu { background-position: 0 -880px; }

.flag-nz { background-position: 0 -275px; }

.flag-om { background-position: 0 -2090px; }

.flag-pa { background-position: 0 -1463px; }

.flag-pe { background-position: 0 -2674px; }

.flag-pf { background-position: 0 -1760px; }

.flag-pg { background-position: 0 -671px; }

.flag-ph { background-position: 0 -1177px; }

.flag-pk { background-position: 0 -946px; }

.flag-pl { background-position: 0 -2696px; }

.flag-pm { background-position: 0 0; }

.flag-pn { background-position: 0 -77px; }

.flag-pr { background-position: 0 -1023px; }

.flag-ps { background-position: 0 -2200px; }

.flag-pt { background-position: 0 -1034px; }

.flag-pw { background-position: 0 -1089px; }

.flag-py { background-position: 0 -2178px; }

.flag-qa { background-position: 0 -2376px; }

.flag-re { background-position: 0 -1144px; }

.flag-ro { background-position: 0 -1837px; }

.flag-rs { background-position: 0 -2553px; }

.flag-ru { background-position: 0 -2608px; }

.flag-rw { background-position: 0 -1243px; }

.flag-sa { background-position: 0 -1078px; }

.flag-sb { background-position: 0 -407px; }

.flag-sc { background-position: 0 -539px; }

.flag-scotland { background-position: 0 -132px; }

.flag-sd { background-position: 0 -1892px; }

.flag-se { background-position: 0 -1166px; }

.flag-sg { background-position: 0 -2233px; }

.flag-sh { background-position: 0 -187px; }

.flag-si { background-position: 0 -1606px; }

.flag-sj { background-position: 0 -1584px; }

.flag-sk { background-position: 0 -990px; }

.flag-sl { background-position: 0 -2454px; }

.flag-sm { background-position: 0 -1705px; }

.flag-sn { background-position: 0 -1276px; }

.flag-so { background-position: 0 -1375px; }

.flag-sr { background-position: 0 -1540px; }

.flag-st { background-position: 0 -803px; }

.flag-sv { background-position: 0 -1716px; }

.flag-sy { background-position: 0 -2564px; }

.flag-sz { background-position: 0 -231px; }

.flag-tc { background-position: 0 -418px; }

.flag-td { background-position: 0 -913px; }

.flag-tf { background-position: 0 -1386px; }

.flag-tg { background-position: 0 -1001px; }

.flag-th { background-position: 0 -2354px; }

.flag-tj { background-position: 0 -1815px; }

.flag-tk { background-position: 0 -286px; }

.flag-tl { background-position: 0 -1529px; }

.flag-tm { background-position: 0 -682px; }

.flag-tn { background-position: 0 -1848px; }

.flag-to { background-position: 0 -2542px; }

.flag-tr { background-position: 0 -1903px; }

.flag-tt { background-position: 0 -440px; }

.flag-tv { background-position: 0 -1232px; }

.flag-tw { background-position: 0 -2277px; }

.flag-tz { background-position: 0 -242px; }

.flag-ua { background-position: 0 -2410px; }

.flag-ug { background-position: 0 -1298px; }

.flag-um { background-position: 0 -902px; }

.flag-us { background-position: 0 -517px; }

.flag-uy { background-position: 0 -1287px; }

.flag-uz { background-position: 0 -1507px; }

.flag-va { background-position: 0 -1056px; }

.flag-vc { background-position: 0 -836px; }

.flag-ve { background-position: 0 -1342px; }

.flag-vg { background-position: 0 -341px; }

.flag-vi { background-position: 0 -462px; }

.flag-vn { background-position: 0 -2156px; }

.flag-vu { background-position: 0 -572px; }

.flag-wales { background-position: 0 -121px; }

.flag-wf { background-position: 0 -1045px; }

.flag-ws { background-position: 0 -2123px; }

.flag-ye { background-position: 0 -2630px; }

.flag-yt { background-position: 0 -693px; }

.flag-za { background-position: 0 -253px; }

.flag-zm { background-position: 0 -1749px; }

.flag-zw { background-position: 0 -858px; }

.modal-overlay { position: fixed; z-index: 9999; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); }

.modal { position: fixed; z-index: 99999; top: 50px; left: 50%; opacity: 1; -webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); width: 400px; margin-left: -200px; padding: 1em; background-color: white; border: 1px solid #cccccc; box-shadow: 1px 1px 3px black; }
.modal .dismiss { float: right; text-decoration: none; color: inherit; opacity: 0.7; }
.modal .dismiss.hover { opacity: 1; }

.hide { opacity: 0; display: none; -webkit-transform: translate(0, -150px); -moz-transform: translate(0, -150px); -ms-transform: translate(0, -150px); -o-transform: translate(0, -150px); transform: translate(0, -150px); }

/*  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face { font-family: "FontAwesome"; src: url("../font/fontawesome-webfont.eot?v=3.0.1"); src: url("../font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.0.1") format("truetype"); font-weight: normal; font-style: normal; }

/*  Font Awesome styles ------------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; /* sprites.less reset */ display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0; }

/* more sprites.less reset */
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: none; }

[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; speak: none; }

/* makes sure icons active on rollover in links */
a [class^="icon-"], a [class*=" icon-"] { display: inline-block; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before { vertical-align: -10%; font-size: 1.33333em; }

.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] { display: inline; /* keeps button heights with and without icons the same */ }
.btn [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large, .nav [class*=" icon-"].icon-large { line-height: 0.9em; }
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin { display: inline-block; }

.nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"], .nav-pills [class*=" icon-"] { /* keeps button heights with and without icons the same */ line-height: 0.9em; }
.nav-tabs [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large { line-height: 0.9em; }

li [class^="icon-"], li [class*=" icon-"], .nav li [class^="icon-"], .nav li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large, .nav li [class*=" icon-"].icon-large { /* increased font size for icon-large */ width: 1.5625em; }

ul.icons { list-style-type: none; text-indent: -0.75em; }
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width: 0.75em; }

.icon-muted { color: #eeeeee; }

.icon-border { border: solid 1px #eeeeee; padding: 0.2em 0.25em 0.15em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.icon-2x { font-size: 2em; }
.icon-2x.icon-border { border-width: 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.icon-3x { font-size: 3em; }
.icon-3x.icon-border { border-width: 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.icon-4x { font-size: 4em; }
.icon-4x.icon-border { border-width: 4px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.pull-right { float: right; }

.pull-left { float: left; }

[class^="icon-"].pull-left, [class*=" icon-"].pull-left { margin-right: 0.3em; }
[class^="icon-"].pull-right, [class*=" icon-"].pull-right { margin-left: 0.3em; }

.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x { margin-top: 0.18em; }
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large { line-height: 0.8em; }

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x { margin-top: 0.25em; }

.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] { margin-top: 0; }
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-top: 0.05em; }
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x { margin-right: 0.2em; }
.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-left: 0.2em; }

.icon-spin { display: inline-block; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }

@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

@-moz-document url-prefix() { .icon-spin { height: 0.9em; }
  .btn .icon-spin { height: auto; }
  .icon-spin.icon-large { height: 1.25em; }
  .btn .icon-spin.icon-large { height: 0.75em; } }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.icon-glass:before { content: "\f000"; }

.icon-music:before { content: "\f001"; }

.icon-search:before { content: "\f002"; }

.icon-envelope:before { content: "\f003"; }

.icon-heart:before { content: "\f004"; }

.icon-star:before { content: "\f005"; }

.icon-star-empty:before { content: "\f006"; }

.icon-user:before { content: "\f007"; }

.icon-film:before { content: "\f008"; }

.icon-th-large:before { content: "\f009"; }

.icon-th:before { content: "\f00a"; }

.icon-th-list:before { content: "\f00b"; }

.icon-ok:before { content: "\f00c"; }

.icon-remove:before { content: "\f00d"; }

.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }

.icon-off:before { content: "\f011"; }

.icon-signal:before { content: "\f012"; }

.icon-cog:before { content: "\f013"; }

.icon-trash:before { content: "\f014"; }

.icon-home:before { content: "\f015"; }

.icon-file:before { content: "\f016"; }

.icon-time:before { content: "\f017"; }

.icon-road:before { content: "\f018"; }

.icon-download-alt:before { content: "\f019"; }

.icon-download:before { content: "\f01a"; }

.icon-upload:before { content: "\f01b"; }

.icon-inbox:before { content: "\f01c"; }

.icon-play-circle:before { content: "\f01d"; }

.icon-repeat:before { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before { content: "\f021"; }

.icon-list-alt:before { content: "\f022"; }

.icon-lock:before { content: "\f023"; }

.icon-flag:before { content: "\f024"; }

.icon-headphones:before { content: "\f025"; }

.icon-volume-off:before { content: "\f026"; }

.icon-volume-down:before { content: "\f027"; }

.icon-volume-up:before { content: "\f028"; }

.icon-qrcode:before { content: "\f029"; }

.icon-barcode:before { content: "\f02a"; }

.icon-tag:before { content: "\f02b"; }

.icon-tags:before { content: "\f02c"; }

.icon-book:before { content: "\f02d"; }

.icon-bookmark:before { content: "\f02e"; }

.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }

.icon-font:before { content: "\f031"; }

.icon-bold:before { content: "\f032"; }

.icon-italic:before { content: "\f033"; }

.icon-text-height:before { content: "\f034"; }

.icon-text-width:before { content: "\f035"; }

.icon-align-left:before { content: "\f036"; }

.icon-align-center:before { content: "\f037"; }

.icon-align-right:before { content: "\f038"; }

.icon-align-justify:before { content: "\f039"; }

.icon-list:before { content: "\f03a"; }

.icon-indent-left:before { content: "\f03b"; }

.icon-indent-right:before { content: "\f03c"; }

.icon-facetime-video:before { content: "\f03d"; }

.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }

.icon-map-marker:before { content: "\f041"; }

.icon-adjust:before { content: "\f042"; }

.icon-tint:before { content: "\f043"; }

.icon-edit:before { content: "\f044"; }

.icon-share:before { content: "\f045"; }

.icon-check:before { content: "\f046"; }

.icon-move:before { content: "\f047"; }

.icon-step-backward:before { content: "\f048"; }

.icon-fast-backward:before { content: "\f049"; }

.icon-backward:before { content: "\f04a"; }

.icon-play:before { content: "\f04b"; }

.icon-pause:before { content: "\f04c"; }

.icon-stop:before { content: "\f04d"; }

.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }

.icon-step-forward:before { content: "\f051"; }

.icon-eject:before { content: "\f052"; }

.icon-chevron-left:before { content: "\f053"; }

.icon-chevron-right:before { content: "\f054"; }

.icon-plus-sign:before { content: "\f055"; }

.icon-minus-sign:before { content: "\f056"; }

.icon-remove-sign:before { content: "\f057"; }

.icon-ok-sign:before { content: "\f058"; }

.icon-question-sign:before { content: "\f059"; }

.icon-info-sign:before { content: "\f05a"; }

.icon-screenshot:before { content: "\f05b"; }

.icon-remove-circle:before { content: "\f05c"; }

.icon-ok-circle:before { content: "\f05d"; }

.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }

.icon-arrow-right:before { content: "\f061"; }

.icon-arrow-up:before { content: "\f062"; }

.icon-arrow-down:before { content: "\f063"; }

.icon-share-alt:before { content: "\f064"; }

.icon-resize-full:before { content: "\f065"; }

.icon-resize-small:before { content: "\f066"; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-asterisk:before { content: "\f069"; }

.icon-exclamation-sign:before { content: "\f06a"; }

.icon-gift:before { content: "\f06b"; }

.icon-leaf:before { content: "\f06c"; }

.icon-fire:before { content: "\f06d"; }

.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }

.icon-warning-sign:before { content: "\f071"; }

.icon-plane:before { content: "\f072"; }

.icon-calendar:before { content: "\f073"; }

.icon-random:before { content: "\f074"; }

.icon-comment:before { content: "\f075"; }

.icon-magnet:before { content: "\f076"; }

.icon-chevron-up:before { content: "\f077"; }

.icon-chevron-down:before { content: "\f078"; }

.icon-retweet:before { content: "\f079"; }

.icon-shopping-cart:before { content: "\f07a"; }

.icon-folder-close:before { content: "\f07b"; }

.icon-folder-open:before { content: "\f07c"; }

.icon-resize-vertical:before { content: "\f07d"; }

.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }

.icon-twitter-sign:before { content: "\f081"; }

.icon-facebook-sign:before { content: "\f082"; }

.icon-camera-retro:before { content: "\f083"; }

.icon-key:before { content: "\f084"; }

.icon-cogs:before { content: "\f085"; }

.icon-comments:before { content: "\f086"; }

.icon-thumbs-up:before { content: "\f087"; }

.icon-thumbs-down:before { content: "\f088"; }

.icon-star-half:before { content: "\f089"; }

.icon-heart-empty:before { content: "\f08a"; }

.icon-signout:before { content: "\f08b"; }

.icon-linkedin-sign:before { content: "\f08c"; }

.icon-pushpin:before { content: "\f08d"; }

.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }

.icon-trophy:before { content: "\f091"; }

.icon-github-sign:before { content: "\f092"; }

.icon-upload-alt:before { content: "\f093"; }

.icon-lemon:before { content: "\f094"; }

.icon-phone:before { content: "\f095"; }

.icon-check-empty:before { content: "\f096"; }

.icon-bookmark-empty:before { content: "\f097"; }

.icon-phone-sign:before { content: "\f098"; }

.icon-twitter:before { content: "\f099"; }

.icon-facebook:before { content: "\f09a"; }

.icon-github:before { content: "\f09b"; }

.icon-unlock:before { content: "\f09c"; }

.icon-credit-card:before { content: "\f09d"; }

.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }

.icon-bullhorn:before { content: "\f0a1"; }

.icon-bell:before { content: "\f0a2"; }

.icon-certificate:before { content: "\f0a3"; }

.icon-hand-right:before { content: "\f0a4"; }

.icon-hand-left:before { content: "\f0a5"; }

.icon-hand-up:before { content: "\f0a6"; }

.icon-hand-down:before { content: "\f0a7"; }

.icon-circle-arrow-left:before { content: "\f0a8"; }

.icon-circle-arrow-right:before { content: "\f0a9"; }

.icon-circle-arrow-up:before { content: "\f0aa"; }

.icon-circle-arrow-down:before { content: "\f0ab"; }

.icon-globe:before { content: "\f0ac"; }

.icon-wrench:before { content: "\f0ad"; }

.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }

.icon-briefcase:before { content: "\f0b1"; }

.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }

.icon-link:before { content: "\f0c1"; }

.icon-cloud:before { content: "\f0c2"; }

.icon-beaker:before { content: "\f0c3"; }

.icon-cut:before { content: "\f0c4"; }

.icon-copy:before { content: "\f0c5"; }

.icon-paper-clip:before { content: "\f0c6"; }

.icon-save:before { content: "\f0c7"; }

.icon-sign-blank:before { content: "\f0c8"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-list-ul:before { content: "\f0ca"; }

.icon-list-ol:before { content: "\f0cb"; }

.icon-strikethrough:before { content: "\f0cc"; }

.icon-underline:before { content: "\f0cd"; }

.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }

.icon-truck:before { content: "\f0d1"; }

.icon-pinterest:before { content: "\f0d2"; }

.icon-pinterest-sign:before { content: "\f0d3"; }

.icon-google-plus-sign:before { content: "\f0d4"; }

.icon-google-plus:before { content: "\f0d5"; }

.icon-money:before { content: "\f0d6"; }

.icon-caret-down:before { content: "\f0d7"; }

.icon-caret-up:before { content: "\f0d8"; }

.icon-caret-left:before { content: "\f0d9"; }

.icon-caret-right:before { content: "\f0da"; }

.icon-columns:before { content: "\f0db"; }

.icon-sort:before { content: "\f0dc"; }

.icon-sort-down:before { content: "\f0dd"; }

.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }

.icon-linkedin:before { content: "\f0e1"; }

.icon-undo:before { content: "\f0e2"; }

.icon-legal:before { content: "\f0e3"; }

.icon-dashboard:before { content: "\f0e4"; }

.icon-comment-alt:before { content: "\f0e5"; }

.icon-comments-alt:before { content: "\f0e6"; }

.icon-bolt:before { content: "\f0e7"; }

.icon-sitemap:before { content: "\f0e8"; }

.icon-umbrella:before { content: "\f0e9"; }

.icon-paste:before { content: "\f0ea"; }

.icon-lightbulb:before { content: "\f0eb"; }

.icon-exchange:before { content: "\f0ec"; }

.icon-cloud-download:before { content: "\f0ed"; }

.icon-cloud-upload:before { content: "\f0ee"; }

.icon-user-md:before { content: "\f0f0"; }

.icon-stethoscope:before { content: "\f0f1"; }

.icon-suitcase:before { content: "\f0f2"; }

.icon-bell-alt:before { content: "\f0f3"; }

.icon-coffee:before { content: "\f0f4"; }

.icon-food:before { content: "\f0f5"; }

.icon-file-alt:before { content: "\f0f6"; }

.icon-building:before { content: "\f0f7"; }

.icon-hospital:before { content: "\f0f8"; }

.icon-ambulance:before { content: "\f0f9"; }

.icon-medkit:before { content: "\f0fa"; }

.icon-fighter-jet:before { content: "\f0fb"; }

.icon-beer:before { content: "\f0fc"; }

.icon-h-sign:before { content: "\f0fd"; }

.icon-plus-sign-alt:before { content: "\f0fe"; }

.icon-double-angle-left:before { content: "\f100"; }

.icon-double-angle-right:before { content: "\f101"; }

.icon-double-angle-up:before { content: "\f102"; }

.icon-double-angle-down:before { content: "\f103"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-angle-up:before { content: "\f106"; }

.icon-angle-down:before { content: "\f107"; }

.icon-desktop:before { content: "\f108"; }

.icon-laptop:before { content: "\f109"; }

.icon-tablet:before { content: "\f10a"; }

.icon-mobile-phone:before { content: "\f10b"; }

.icon-circle-blank:before { content: "\f10c"; }

.icon-quote-left:before { content: "\f10d"; }

.icon-quote-right:before { content: "\f10e"; }

.icon-spinner:before { content: "\f110"; }

.icon-circle:before { content: "\f111"; }

.icon-reply:before { content: "\f112"; }

.icon-github-alt:before { content: "\f113"; }

.icon-folder-close-alt:before { content: "\f114"; }

.icon-folder-open-alt:before { content: "\f115"; }

body { background: #fafafa; }

#modal-login { width: 300px; }

.calendar dt { font-size: 2em; }
.calendar .date { font-size: 2em; font-weight: 100; padding-right: 0.3em; }
.calendar .champ, .calendar .track { position: absolute; }
.calendar .champ { top: 0; color: #999999; }
.calendar .track { bottom: 0; }
.calendar dd { position: relative; margin-bottom: 0.3em; }

.panel { border: 1px solid #bdbdcd; background-color: #f7f7f9; padding: 1em; }

.tab { display: none; }
.tab.active { display: block; }
