{% extends "base.html" %}

{% load flags %}

{% block content %}
  <div class="row">
    <div class="col half">
      <dl class="calendar">
        {% for month, stages in by_month %}
          <dt>{{ month }}</dt>
          {% for stage in stages %}
          <dd>
            <span class="date">{{ stage.race_date|date:"d" }}</span>
            <span class="track">{% flag stage.track.country %}&nbsp;{{ stage.track.name }}</span>
            <span class="champ">{{ stage.champ.name }}</span>
          </dd>
          {% endfor %}
        {% endfor %}
      </dl>
    </div>
  </div>
{% endblock %}
