<div id="modal-overlay" class="modal-overlay hide"></div>
<div id="modal-login" class="modal hide">
  <a class="dismiss"><i class="icon-remove"></i></a>

  <h4>Login</h4>
  <p><a class="button blue block" rel="nofollow" href="{% url 'socialauth_begin' 'google-oauth2' %}">
    <i class="icon-large icon-google-plus"></i>&nbsp;Google</a></p>
  <p><a class="button blue block" rel="nofollow" href="{% url 'socialauth_begin' 'twitter' %}">
    <i class="icon-large icon-twitter"></i>&nbsp;Twitter</a></p>
  <p><a class="button blue block" rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}">
    <i class="icon-large icon-facebook"></i>&nbsp;Facebook</a></p>
  <p><a class="button blue block" rel="nofollow" href="{% url 'socialauth_begin' 'vkontakte-oauth2' %}">
    <i class="icon-large icon-sign-blank"></i>&nbsp;ВКонтакте</a>
  </p>
  <p>&nbsp;</p>
</div>

<script type="text/javascript">
  $(function () {
    $(document).on('click', '[data-action=login]', function () {
      var modal = $('#modal-login'),
          overlay = $('#modal-overlay'),
          hide = function () {
            modal.addClass('hide').off('.modal');
            overlay.addClass('hide').off('.modal');
            return false;
          };
      overlay.on('click.modal', hide).removeClass('hide');
      modal.on('click.modal', '.dismiss', hide).removeClass('hide');
    });
  });
</script>
