<ul class="nav">
  <li class="active"><a href="/">Главная</a></li>
  <li><a href="{% url 'users' %}">Пользователи</a></li>
</ul>

<ul class="nav right">
  {% if user.is_authenticated %}
    <li><a href="{% url 'profile' user.id %}">{{ user.username }}</a></li>
    <li><a rel="nofollow" class="logout" href="{% url 'logout' %}">Выйти</a></li>
  {% else %}
    <li><a href="#" data-action="login">Войти</a></li>
  {% endif %}
</ul>

<div id="countdown" style="display: none">До этапа осталось<span>00:00:00</span>
</div>
