<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Мотогонки</title>

  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{{ STATIC_URL }}stylesheets/app.css" rel="stylesheet">

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  {% block head %}{% endblock head %}
</head>

<body>
  <div id="wrapper">
    <div class="row topbar">
      {% include "_topbar.html" %}
    </div>

{#    <div class="row">#}
{#      <div class="col">#}
        {% block content %}{% endblock content %}
{#      </div>#}
{#    </div>#}

    {% include "_modals.html" %}
    <div id="footer-push"></div>
  </div>

  <div id="footer">
    <div class="right">This is probably illegal</div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30663096-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
