{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <p>Тут должна быть писькомерка, а пока просто список пользователей</p>
        <ul class="unstyled" id="users">
        {% for user in users %}
            <li><a href="{% url 'profile' user.id %}">{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
