body {
    padding-top: 60px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    background-color: white;
    border-bottom: 1px solid #999;
    padding: 10px 20px;
    overflow: hidden;
}

.top-menu li {
    float: left;
}

.top-menu li a {
    display: block;
    padding: 2px 10px;
}
.social-accounts .controls {
    padding-left: 140px;
}

ul.errorlist {
    list-style: none;
}

.right td {
    background-color: #dff0d8 !important;
}

.wrong td {
   background-color: #f2dede !important;
}

.settings.help-block {
    padding-left: 18px;
}

#users li {
    line-height: 25px;
    font-size: 20px;
}
