.alertify-cover {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.alertify-dialog {
  position: fixed;
  z-index: 99999;
  top: 50px;
  left: 50%;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute; }

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
  background: none;
  text-decoration: none;
  border: none;
  line-height: 1.5;
  font-size: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px; }

.is-alertify-cover-hidden {
  display: none; }

.is-alertify-dialog-hidden {
  opacity: 0;
  display: none;
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px); }

:root * > .is-alertify-dialog-hidden {
  display: block; }

.alertify-logs {
  position: fixed;
  z-index: 9999; }

.alertify-log {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.is-alertify-log-showing {
  opacity: 1; }

.is-alertify-log-hidden {
  opacity: 0; }

.alertify-dialog {
  width: 550px;
  margin-left: -275px;
  background: #FFF;
  border: 1px solid #8e8e8e;
  /* browsers that don't support rgba */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.alertify-message {
  padding: 15px;
  margin: 0; }

.alertify-text-wrapper {
  padding: 0 15px; }

.alertify-text {
  color: #555;
  border-radius: 4px;
  padding: 8px;
  background-color: #FFF;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .alertify-text:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

.alertify-buttons {
  padding: 14px 15px 15px;
  background: #F5F5F5;
  border-top: 1px solid #dddddd;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 white;
  text-align: right; }

.alertify-button,
.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
  margin-left: 10px;
  border-radius: 4px;
  font-weight: normal;
  padding: 4px 12px;
  text-decoration: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:         linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

.alertify-button:focus {
  outline: none;
  box-shadow: 0 0 5px #2b72d5; }

.alertify-button:active {
  position: relative;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus,
.alertify-button-cancel:active {
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
  background-color: #E6E6E6;
  border: 1px solid #bbbbbb;
  color: #333;
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image:    -moz-linear-gradient(top, white, #e6e6e6);
  background-image:     -ms-linear-gradient(top, white, #e6e6e6);
  background-image:      -o-linear-gradient(top, white, #e6e6e6);
  background-image:         linear-gradient(top, white, #e6e6e6); }

.alertify-button-cancel:hover,
.alertify-button-cancel:focus,
.alertify-button-cancel:active {
  background: #E6E6E6; }

.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus,
.alertify-button-ok:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #04C;
  border: 1px solid #0044cc;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF; }

.alertify-button-ok:hover,
.alertify-button-ok:focus,
.alertify-button-ok:active {
  background: #04C; }

@media only screen and (max-width: 680px) {
  .alertify-dialog {
    width: 90%;
    left: 5%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
.alertify-logs {
  position: fixed;
  z-index: 9999;
  bottom: 8px;
  right: 8px;
  width: 300px; }

.alertify-log {
  margin-top: 8px;
  right: -300px;
  padding: 8px 16px;
  border-radius: 4px; }

.alertify-log-info {
  color: #3A8ABF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bce8f1;
  background: #D9EDF7;
  padding: 8px 14px;
  border-radius: 4px; }

.alertify-log-error {
  color: #B94A48;
  background: #F2DEDE;
  border: 1px solid #eed3d7; }

.alertify-log-success {
  color: #468847;
  background: #DFF0D8;
  border: 1px solid #d6e9c6; }

.is-alertify-log-showing {
  right: 0; }

.is-alertify-log-hidden {
  right: -300px; }
