@import "compass/css3/box-sizing"
@import "compass/css3/transition"
@import "compass/css3/transform"

.alertify-cover
  position: fixed
  z-index: 9999
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, .5)

.alertify-dialog
  position: fixed
  z-index: 99999
  top: 50px
  left: 50%
  opacity: 1
  +transition(all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275))

.alertify-resetFocus
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  position: absolute

.alertify-text
  margin-bottom: 15px
  width: 100%
  font-size: 100%
  +box-sizing(border-box)

.alertify-button
  background: none
  text-decoration: none
  border: none
  line-height: 1.5
  font-size: 100%
  display: inline-block
  cursor: pointer
  margin-left: 5px
  &:hover, &:active, &:visited
    background: none
    text-decoration: none
    border: none
    line-height: 1.5
    font-size: 100%
    display: inline-block
    cursor: pointer
    margin-left: 5px

.is-alertify-cover-hidden
  display: none

.is-alertify-dialog-hidden
  opacity: 0
  display: none
  +transform(translate(0, -150px))

\:root * > .is-alertify-dialog-hidden
  display: block

.alertify-logs
  position: fixed
  z-index: 9999

.alertify-log
  position: relative
  display: block
  opacity: 0
  +transition(all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275))

.is-alertify-log-showing
  opacity: 1

.is-alertify-log-hidden
  opacity: 0

.alertify-dialog
  width: 550px
  margin-left: -275px
  background: #FFF
  border: 10px solid #333333
  border: 10px solid rgba(0, 0, 0, 0.7)
  border-radius: 8px
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
  -webkit-background-clip: padding
  -moz-background-clip: padding
  background-clip: padding-box

.alertify-dialog-inner
  padding: 25px

.alertify-inner
  text-align: center

.alertify-text
  border: 1px solid #cccccc
  padding: 10px
  border-radius: 4px

.alertify-button
  border-radius: 4px
  color: #FFF
  font-weight: bold
  padding: 6px 15px
  text-decoration: none
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5)
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5)
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))
  &:hover
    outline: none
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
  &:focus
    outline: none
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    box-shadow: 0 0 10px #2b72d5
  &:active
    position: relative
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)

.alertify-button-cancel
  background-color: #fe1a00
  border: 1px solid #cb1500
  &:hover, &:focus
    background-color: #fe1a00
    border: 1px solid #cb1500

.alertify-button-ok
  background-color: #5cb811
  border: 1px solid #45890d
  &:hover, &:focus
    background-color: #5cb811
    border: 1px solid #45890d

@media only screen and (max-width: 680px)
  .alertify-dialog
    width: 90%
    left: 5%
    margin: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.alertify-logs
  position: fixed
  z-index: 9999
  bottom: 8px
  right: 8px
  width: 300px

.alertify-log
  margin-top: 8px
  right: -300px
  padding: 16px 16px
  border-radius: 4px

.alertify-log-info
  background: #1F1F1F
  background: rgba(0, 0, 0, 0.9)
  color: #FFF
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5)

.alertify-log-error
  color: #FFF
  background: #FE1A00
  background: rgba(254, 26, 0, 0.9)

.alertify-log-success
  color: #FFF
  background: #5CB811
  background: rgba(92, 184, 17, 0.9)

.is-alertify-log-showing
  right: 0

.is-alertify-log-hidden
  right: -300px
