[class^="flag-"]
  background: url('../images/flags-sprite.png') no-repeat
  display: inline-block
  height: 11px
  width: 16px
.flag-ad
  background-position: 0 -198px
.flag-ae
  background-position: 0 -2641px
.flag-af
  background-position: 0 -550px
.flag-ag
  background-position: 0 -726px
.flag-ai
  background-position: 0 -209px
.flag-al
  background-position: 0 -594px
.flag-am
  background-position: 0 -1771px
.flag-an
  background-position: 0 -1947px
.flag-ao
  background-position: 0 -2520px
.flag-ar
  background-position: 0 -1672px
.flag-as
  background-position: 0 -154px
.flag-at
  background-position: 0 -2652px
.flag-au
  background-position: 0 -22px
.flag-aw
  background-position: 0 -1419px
.flag-ax
  background-position: 0 -55px
.flag-az
  background-position: 0 -748px
.flag-ba
  background-position: 0 -649px
.flag-bb
  background-position: 0 -781px
.flag-bd
  background-position: 0 -1683px
.flag-be
  background-position: 0 -2387px
.flag-bf
  background-position: 0 -1782px
.flag-bg
  background-position: 0 -2299px
.flag-bh
  background-position: 0 -2310px
.flag-bi
  background-position: 0 -11px
.flag-bj
  background-position: 0 -1991px
.flag-bm
  background-position: 0 -495px
.flag-bn
  background-position: 0 -264px
.flag-bo
  background-position: 0 -1727px
.flag-br
  background-position: 0 -660px
.flag-bs
  background-position: 0 -1397px
.flag-bt
  background-position: 0 -319px
.flag-bv
  background-position: 0 -1551px
.flag-bw
  background-position: 0 -2421px
.flag-by
  background-position: 0 -1518px
.flag-bz
  background-position: 0 -605px
.flag-ca
  background-position: 0 -352px
.flag-catalonia
  background-position: 0 -2663px
.flag-cc
  background-position: 0 -396px
.flag-cd
  background-position: 0 -1331px
.flag-cf
  background-position: 0 -473px
.flag-cg
  background-position: 0 -1441px
.flag-ch
  background-position: 0 -2707px
.flag-ci
  background-position: 0 -2321px
.flag-ck
  background-position: 0 -770px
.flag-cl
  background-position: 0 -2365px
.flag-cm
  background-position: 0 -1408px
.flag-cn
  background-position: 0 -2189px
.flag-co
  background-position: 0 -2013px
.flag-cr
  background-position: 0 -2101px
.flag-cs
  background-position: 0 -2443px
.flag-cu
  background-position: 0 -968px
.flag-cv
  background-position: 0 -1309px
.flag-cx
  background-position: 0 -528px
.flag-cy
  background-position: 0 -2531px
.flag-cz
  background-position: 0 -2112px
.flag-de
  background-position: 0 -1111px
.flag-dj
  background-position: 0 -869px
.flag-dk
  background-position: 0 -1826px
.flag-dm
  background-position: 0 -429px
.flag-do
  background-position: 0 -1628px
.flag-dz
  background-position: 0 -814px
.flag-ec
  background-position: 0 -1738px
.flag-ee
  background-position: 0 -2509px
.flag-eg
  background-position: 0 -2255px
.flag-eh
  background-position: 0 -1639px
.flag-england
  background-position: 0 -1793px
.flag-er
  background-position: 0 -110px
.flag-es
  background-position: 0 -2222px
.flag-et
  background-position: 0 -704px
.flag-europeanunion
  background-position: 0 -2079px
.flag-fam
  background-position: 0 -1254px
.flag-fi
  background-position: 0 -1925px
.flag-fj
  background-position: 0 -506px
.flag-fk
  background-position: 0 -143px
.flag-fm
  background-position: 0 -1067px
.flag-fo
  background-position: 0 -2134px
.flag-fr
  background-position: 0 -1122px
.flag-ga
  background-position: 0 -1936px
.flag-gb
  background-position: 0 -616px
.flag-gd
  background-position: 0 -297px
.flag-ge
  background-position: 0 -638px
.flag-gf
  background-position: 0 -1133px
.flag-gh
  background-position: 0 -1914px
.flag-gi
  background-position: 0 -2288px
.flag-gl
  background-position: 0 -2211px
.flag-gm
  background-position: 0 -1859px
.flag-gn
  background-position: 0 -2068px
.flag-gp
  background-position: 0 -1958px
.flag-gq
  background-position: 0 -1188px
.flag-gr
  background-position: 0 -1969px
.flag-gs
  background-position: 0 -330px
.flag-gt
  background-position: 0 -1870px
.flag-gu
  background-position: 0 -1617px
.flag-gw
  background-position: 0 -1485px
.flag-gy
  background-position: 0 -176px
.flag-hk
  background-position: 0 -1353px
.flag-hm
  background-position: 0 -33px
.flag-hn
  background-position: 0 -1199px
.flag-hr
  background-position: 0 -1430px
.flag-ht
  background-position: 0 -1980px
.flag-hu
  background-position: 0 -2465px
.flag-id
  background-position: 0 -2498px
.flag-ie
  background-position: 0 -2046px
.flag-il
  background-position: 0 -2487px
.flag-in
  background-position: 0 -1694px
.flag-io
  background-position: 0 -66px
.flag-iq
  background-position: 0 -1496px
.flag-ir
  background-position: 0 -1562px
.flag-is
  background-position: 0 -1265px
.flag-it
  background-position: 0 -2575px
.flag-jm
  background-position: 0 -308px
.flag-jo
  background-position: 0 -2167px
.flag-jp
  background-position: 0 -2586px
.flag-ke
  background-position: 0 -924px
.flag-kg
  background-position: 0 -1595px
.flag-kh
  background-position: 0 -1100px
.flag-ki
  background-position: 0 -88px
.flag-km
  background-position: 0 -825px
.flag-kn
  background-position: 0 -561px
.flag-kp
  background-position: 0 -1012px
.flag-kr
  background-position: 0 -715px
.flag-kw
  background-position: 0 -2002px
.flag-ky
  background-position: 0 -220px
.flag-kz
  background-position: 0 -451px
.flag-la
  background-position: 0 -979px
.flag-lb
  background-position: 0 -1474px
.flag-lc
  background-position: 0 -1452px
.flag-li
  background-position: 0 -1210px
.flag-lk
  background-position: 0 -385px
.flag-lr
  background-position: 0 -2244px
.flag-ls
  background-position: 0 -363px
.flag-lt
  background-position: 0 -1650px
.flag-lu
  background-position: 0 -2057px
.flag-lv
  background-position: 0 -2266px
.flag-ly
  background-position: 0 -2619px
.flag-ma
  background-position: 0 -2476px
.flag-mc
  background-position: 0 -2685px
.flag-md
  background-position: 0 -957px
.flag-me
  background-position: 0 -2398px
.flag-mg
  background-position: 0 -2332px
.flag-mh
  background-position: 0 -374px
.flag-mk
  background-position: 0 -44px
.flag-ml
  background-position: 0 -2145px
.flag-mm
  background-position: 0 -2024px
.flag-mn
  background-position: 0 -1881px
.flag-mo
  background-position: 0 -759px
.flag-mp
  background-position: 0 -627px
.flag-mq
  background-position: 0 -99px
.flag-mr
  background-position: 0 -935px
.flag-ms
  background-position: 0 -484px
.flag-mt
  background-position: 0 -2597px
.flag-mu
  background-position: 0 -1804px
.flag-mv
  background-position: 0 -1155px
.flag-mw
  background-position: 0 -1320px
.flag-mx
  background-position: 0 -847px
.flag-my
  background-position: 0 -891px
.flag-mz
  background-position: 0 -792px
.flag-na
  background-position: 0 -165px
.flag-nc
  background-position: 0 -737px
.flag-ne
  background-position: 0 -1221px
.flag-nf
  background-position: 0 -583px
.flag-ng
  background-position: 0 -2035px
.flag-ni
  background-position: 0 -1661px
.flag-nl
  background-position: 0 -2343px
.flag-no
  background-position: 0 -1573px
.flag-np
  background-position: 0 -2432px
.flag-nr
  background-position: 0 -1364px
.flag-nu
  background-position: 0 -880px
.flag-nz
  background-position: 0 -275px
.flag-om
  background-position: 0 -2090px
.flag-pa
  background-position: 0 -1463px
.flag-pe
  background-position: 0 -2674px
.flag-pf
  background-position: 0 -1760px
.flag-pg
  background-position: 0 -671px
.flag-ph
  background-position: 0 -1177px
.flag-pk
  background-position: 0 -946px
.flag-pl
  background-position: 0 -2696px
.flag-pm
  background-position: 0 0
.flag-pn
  background-position: 0 -77px
.flag-pr
  background-position: 0 -1023px
.flag-ps
  background-position: 0 -2200px
.flag-pt
  background-position: 0 -1034px
.flag-pw
  background-position: 0 -1089px
.flag-py
  background-position: 0 -2178px
.flag-qa
  background-position: 0 -2376px
.flag-re
  background-position: 0 -1144px
.flag-ro
  background-position: 0 -1837px
.flag-rs
  background-position: 0 -2553px
.flag-ru
  background-position: 0 -2608px
.flag-rw
  background-position: 0 -1243px
.flag-sa
  background-position: 0 -1078px
.flag-sb
  background-position: 0 -407px
.flag-sc
  background-position: 0 -539px
.flag-scotland
  background-position: 0 -132px
.flag-sd
  background-position: 0 -1892px
.flag-se
  background-position: 0 -1166px
.flag-sg
  background-position: 0 -2233px
.flag-sh
  background-position: 0 -187px
.flag-si
  background-position: 0 -1606px
.flag-sj
  background-position: 0 -1584px
.flag-sk
  background-position: 0 -990px
.flag-sl
  background-position: 0 -2454px
.flag-sm
  background-position: 0 -1705px
.flag-sn
  background-position: 0 -1276px
.flag-so
  background-position: 0 -1375px
.flag-sr
  background-position: 0 -1540px
.flag-st
  background-position: 0 -803px
.flag-sv
  background-position: 0 -1716px
.flag-sy
  background-position: 0 -2564px
.flag-sz
  background-position: 0 -231px
.flag-tc
  background-position: 0 -418px
.flag-td
  background-position: 0 -913px
.flag-tf
  background-position: 0 -1386px
.flag-tg
  background-position: 0 -1001px
.flag-th
  background-position: 0 -2354px
.flag-tj
  background-position: 0 -1815px
.flag-tk
  background-position: 0 -286px
.flag-tl
  background-position: 0 -1529px
.flag-tm
  background-position: 0 -682px
.flag-tn
  background-position: 0 -1848px
.flag-to
  background-position: 0 -2542px
.flag-tr
  background-position: 0 -1903px
.flag-tt
  background-position: 0 -440px
.flag-tv
  background-position: 0 -1232px
.flag-tw
  background-position: 0 -2277px
.flag-tz
  background-position: 0 -242px
.flag-ua
  background-position: 0 -2410px
.flag-ug
  background-position: 0 -1298px
.flag-um
  background-position: 0 -902px
.flag-us
  background-position: 0 -517px
.flag-uy
  background-position: 0 -1287px
.flag-uz
  background-position: 0 -1507px
.flag-va
  background-position: 0 -1056px
.flag-vc
  background-position: 0 -836px
.flag-ve
  background-position: 0 -1342px
.flag-vg
  background-position: 0 -341px
.flag-vi
  background-position: 0 -462px
.flag-vn
  background-position: 0 -2156px
.flag-vu
  background-position: 0 -572px
.flag-wales
  background-position: 0 -121px
.flag-wf
  background-position: 0 -1045px
.flag-ws
  background-position: 0 -2123px
.flag-ye
  background-position: 0 -2630px
.flag-yt
  background-position: 0 -693px
.flag-za
  background-position: 0 -253px
.flag-zm
  background-position: 0 -1749px
.flag-zw
  background-position: 0 -858px
