@import compass/css3/images
@import colors

@mixin button($color, $hover-color)
  border: 1px solid $hover-color
  border-radius: 3px
  text-align: center
  +background(linear-gradient($color, darken($color, 10%)))
  &:hover
    +background(linear-gradient($hover-color, darken($hover-color, 10%)))
  &:active
    +background($hover-color)
  &:focus
    outline: none


.button
  +button($color-gray, $color-gray-dark)
  padding: .5em 1em
  color: white
  font-size: 1em
  &.blue
    +button($color-blue, $color-blue-dark)
  &.green
    +button($color-green, $color-green-dark)
  &.yellow
    +button($color-yellow, $color-yellow-dark)
  &.red
    +button($color-red, $color-red-dark)
  &.block
    display: block

a.button
  display: inline-block
  text-decoration: none
  &:hover
    color: white

label
  display: inline-block
  color: $text-color

input[type=text], input[type=password], .checkbox, .radio
  +box-sizing(border-box)
  width: 100%
  margin-bottom: .5em
  font-size: 1em

input[type=text], input[type=password]
  padding: .4em .5em
  border: 1px solid $color-gray
  &:hover, &:focus
    border-color: $color-blue-light
  &:focus
    outline: none
    box-shadow: 0 0 3px $color-blue-dark

.checkbox, .radio
  cursor: pointer

@mixin alert($background, $border)
  border: 1px solid $border
  background: $background

.alert
  +alert($color-gray-light, $color-gray)
  position: relative
  border-radius: 3px
  padding: .5em
  margin-bottom: .5em
  &.blue
    +alert(lighten($color-blue-light, 20%), $color-blue)
  &.green
    +alert(lighten($color-green-light, 15%), $color-green)
  &.yellow
    +alert(lighten($color-yellow-light, 15%), $color-yellow)
  &.red
    +alert(lighten($color-red-light, 15%), $color-red)
  .dismiss
    float: right
    text-decoration: none
    color: inherit
    opacity: .7
    &.hover
      opacity: 1
