@import compass/css3/box-sizing

/* Dead Simple Grid (c) 2012 Vladimir Agafonkin */
.col
  padding: 10px 1.5em

.row
  .row
    margin: 0 -1.5em
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

@media only screen
  .col
    float: left
    width: 100%
    +box-sizing(border-box)

/* Scaffolding */
.half
  width: 50%

.third
  width: 33.3333%

.twothirds
  width: 66.6666%

.quarter
  width: 25%

.threequarters
  width: 75%

.col
  .centered
    margin: 0 auto
    float: none
  .right
    float: right

@media screen and (max-width: 720px)
  .half, .third, .twothirds, .threequarters
    width: 100%
  .quarter
    width: 50%

/* Layout */
@import compass/layout/sticky-footer

$footer-height: 2.5em

+sticky-footer($footer-height, "#wrapper", "#footer-push", "#footer")

#footer
  line-height: $footer-height
  padding: 0 1em
  color: #666

.sidebar
  width: 25%

.content
  width: 75%

@media screen and (max-width: 720px)
  .content, .sidebar
    width: 100%
  .sidebar .nav li
    float: left
