@import compass/css3/transition
@import compass/css3/transform

.modal-overlay
  position: fixed
  z-index: 9999
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, .5)

.modal
  position: fixed
  z-index: 99999
  top: 50px
  left: 50%
  opacity: 1
  +transition(all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275))

  width: 400px
  margin-left: -200px
  padding: 1em

  background-color: white
  border: 1px solid darken(white, 20%)
  box-shadow: 1px 1px 3px black

  // FIXME: copypasted from _alerts
  .dismiss
    float: right
    text-decoration: none
    color: inherit
    opacity: .7
    &.hover
      opacity: 1

.hide
  opacity: 0
  display: none
  +transform(translate(0, -150px))
