@import colors

.nav
  list-style: none
  li
    padding-bottom: 1px
  a
    display: block
    padding: 4px 10px 0
    text-decoration: none
    color: $color-blue
    border-left: 3px solid transparent
  a:hover, .active a
    color: $color-blue-dark
    background-color: $color-gray-light
    border-left-color: $color-blue-dark

.nav.horizontal
  li
    display: inline-block
    padding-bottom: 0
  a
    border-left: none
    border-bottom: 3px solid transparent
  a:hover, .active a
    border-bottom-color: $color-blue-dark

.topbar
  border-bottom: 1px solid $color-gray
  margin-bottom: .5em
  .nav
    padding-bottom: 0
    float: left
    &.right
      float: right
    li
      display: inline-block
      padding-bottom: 0
      background-color: transparent
      a
        padding: 8px 10px
        border-left: none !important
        border-top: 3px solid transparent
      a:hover, &.active a
        border-top-color: $color-blue-dark
