@import colors

body
  font: 14px normal "Helvetica Neue", Helvetica, serif
  color: $text-color

h1, h2, h3, h4, h5, h6
  font-weight: bold
  padding-bottom: .5em

h1
  font-size: 2.2em

h2
  font-size: 1.8em

h3
  font-size: 1.5em

h4, h5, h6
  font-size: 1.2em

p, li
  line-height: 1.4em

p, ul, ol
  padding-bottom: .5em

ul
  list-style: disc inside
  ol, ul
    padding-bottom: 0
    padding-left: 1em

ol
  list-style: decimal inside
  ol, ul
    padding-bottom: 0
    padding-left: 1em

.unstyled
  list-style: none

a
  color: $color-blue
  &:hover
    color: $color-blue-dark
    text-decoration: none

i, em
  font-style: italic

b, strong
  font-weight: bold

.centered
  text-align: center

.left
  float: left

.right
  float: right
