@import compass/reset
@import compass/css3/box-sizing

@import colors
@import typography
@import layout

@import forms
@import tables
@import nav
@import flags
@import modal
@import font-awesome

body
  background: #fafafa

#modal-login
  width: 300px

.calendar
  dt
    font-size: 2em
  .date
    font-size: 2em
    font-weight: 100
    //float: left
    padding-right: .3em
  .champ, .track
    position: absolute
  .champ
    top: 0
    color: #999
  .track
    bottom: 0
  dd
    position: relative
    margin-bottom: .3em

// FIXME: Remove these
.panel
  border: 1px solid darken(#f7f7f9, 20%)
  background-color: #f7f7f9
  padding: 1em
  // +box-sizing(border-box)

.tab
  display: none
  &.active
    display: block
