{% extends "base.html" %}

{% block heading %}Error!{% endblock %}

{% block content %}
<div class="row">
  <div class="col half centered">
    <h3>Во время авторизации произошла ошибка.</h3>

  {% if messages %}
    {% for msg in messages %}
        <p class="alert red">{{ msg.message }} ({{ msg.extra_tags }})</p>
    {% endfor %}
  {% endif %}
  {% if error_msg %}
    <p>Details:</p>
    <p class="error">{{ error_msg }}</p>
  {% endif %}
</div>
{% endblock %}
