{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col half centered">
        <form action="" method="post" class="horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>Для окончания регистрации, выберите имя</legend>
                <div class="control-group {% if form.username.errors %}error{% endif %}">
                    <label class="control-label" for="id_username">Имя пользователя</label>
                    <div class="controls">
                        {{ form.username }}
                        {% for error in form.username.errors %}
                        <p class="help-block">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Продолжить" class="button"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
