{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col third centered">
        <p>Можно войти, используя свой аккаунт в
            <a rel="nofollow" href="{% url 'socialauth_begin' 'twitter' %}">Twitter</a>,
            <a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a> или
            <a rel="nofollow" href="{% url 'socialauth_begin' 'vkontakte-oauth2' %}">ВКонтакте</a>
        </p>
    </div>
</div>

{% endblock %}
