{% extends "base.html" %}

{% load polls %}

{% block content %}

<div class="row">
  <div class="col">
    <h1>{{ current_user.username }}</h1>
  </div>
</div>

<div class="row">
  <div class="col third">
    <h3>Результаты</h3>
    {% if results %}
      {% regroup results by stage as result_by_stage %}
      {% for stage in result_by_stage %}
      <h4>{{ stage.grouper.name }}</h4>
      <table>
        <thead>
          <tr>
            <th width="18px">#</th>
            <th>Гонщик</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for result in stage.list %}
            <tr class="{{ result|result_class }}">
              <td>{{ result.position }}</td>
              <td>{{ result.rider.name }}</td>
              <td></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
          {% endfor %}
    {% endif %}
  </div>
  <div class="col third">
    {% if own_page %}
      <h3>Настройки</h3>
      <p>
        <label for="show_right_only" class="checkbox">
          <input type="checkbox" id="show_right_only" name="show_right_only">
          показывать только угаданные
        </label>
      </p>
      <p class="settings help-block">Если отметить этот чекбокс, другие
        пользователи будут видеть только угаданные вами результаты.</p>

      {% if social_auth.associated %}
      <h3>Подключенные аккаунты</h3>
      <ul class="unstyled">
      {% for type, accounts in social_auth.associated.items %}
        {% for account in accounts %}
          <li>{{ account.provider|title }}
            <a class="" href="{% url 'socialauth_disconnect_individual' account.provider account.id %}">
              <i class="icon-trash">&nbsp;</i>
            </a>
          </li>
        {% endfor %}
      {% endfor %}
      </ul>
      {% endif %}

      <h3>Подключить другие аккаунты</h3>
      <ul class="unstyled">
        <li><a rel="nofollow" href="{% url 'socialauth_begin' 'twitter' %}">Twitter</a></li>
        <li><a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a></li>
        <li><a rel="nofollow" href="{% url 'socialauth_begin' 'vkontakte-oauth2' %}">VKontakte</a></li>
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
